{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css'>
  <link rel='stylesheet' href="{% static 'css\admins\charts-style.css' %}">

  <title>Admin Home Page</title>

  
</head>

<body>

  <!-- *********************************************************** -->
  <section class="container">
    <div class="charts">
      <div class="analysis">
        <div class="barChart chart">
          <canvas id="myBarChart"></canvas>
        </div>
        <p class="barAnalytics chartAnalytics">This Charts Indecates the Number of Users Using the web system<br>
          - Regular users are the Main users as they are {{usersNum}} user, <br>
          - Sellers come then as they are {{sellersNum}} seller,<br>
          - while admins are "{{adminsNum}}" <br>
        </p>
      </div>
      <div class="analysis">
        <p class="pieAnalytics chartAnalytics">Favorate Category for our website Customers <br>
        </p>
        <div class="pieChart chart" height="600px" width="600px">
          <canvas id="myPieChart"></canvas>
        </div>
      </div>
    </div>
    <div class="main">
      <a href="{% url 'list_users'%}">
        <center>
          <div class="content_img"><img class="mainImage" src="{% static 'images\core\users.png'%}" alt="">
            <div class="overlay">
              <div class="text">Users</div>
            </div>
          </div>
        </center>
      </a>
      <a href="{% url 'list_products' %}">
        <center>
          <div class="content_img"><img class="mainImage" src="{% static 'images\core\products.jpg'%}" alt="">
            <div class="overlay">
              <div class="text">Products</div>
            </div>
          </div>
        </center>
      </a>
      <a href="#">
        <center>
          <div class="content_img"><img class="mainImage" src="{% static 'images\core\reports.png'%}" alt="">
            <div class="overlay">
              <div class="text">Reports</div>
            </div>
          </div>
        </center>
      </a>
    </div>
  </section>


  <!-- '#FE3DD1',
        '#B433B8',
        '#D1DB44' -->
  <script src="{% static 'js/core/chart.min.js' %}"></script>
  <!-- <script src="{% static 'js/core/charts-scripts.js' %}"></script> -->
  <script>
    const ctx = document.getElementById('myPieChart');
    const doughnut = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: ["Food","Toys","Kidswear","Menswear","Womenswear","Electronics","Laptops","Phones","Furniture","Kitchen"],
            datasets: [{
                label: '# of Votes',
                data: ["{{soldFood}}","{{soldToys}}","{{soldKidswear}}","{{soldMenswear}}","{{soldWomenswear}}","{{soldElectronics}}","{{soldLaptops}}","{{soldPhones}}","{{soldFurniture}}","{{soldKitchen}}"],
                backgroundColor: [
                '#FE3DD1',
                '#F43DFE',
                '#C73DFE',
                '#BC89FF',
                '#338EB8',
                '#33B878',
                '#B433B8',
                '#F6F33E',
                '#952057',
                '#C64A84'
                ],
                borderColor: [
                '#FE3DD1',
                '#F43DFE',
                '#C73DFE',
                '#BC89FF',
                '#338EB8',
                '#33B878',
                '#B433B8',
                '#F6F33E',
                '#952057',
                '#C64A84'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
  </script>

<script>
  const ctx2 = document.getElementById('myBarChart');
  const bar = new Chart(ctx2, {
      type: 'bar',
      data: {
          labels: ["Customers","Sellers","Admins"],
          datasets: [{
              label: '# of Votes',
              data: ["{{usersNum}}","{{sellersNum}}","{{adminsNum}}"],
              backgroundColor: [
                    '#FE3DD1',
                    '#B433B8',
                    '#FFEC00',
                ],
                borderColor: [
                    '#FE3DD1',
                    '#B433B8',
                    '#FFEC00',
                ],
              borderWidth: 1
          }]
      },
      options: {
          scales: {
              y: {
                  beginAtZero: true
              }
          }
      }
  });
</script>

</body>

</html>
{% endblock %}

