<!--فاضل الفاليدشن بتاع الصورة بسسس اااااااااااه -->
{% extends 'core/base.html' %}

<!DOCTYPE html>
<html lang="en">
{% load static %} {% block content %}

<head>
    <title></title>

    <link rel="stylesheet" href="{% static 'css/admin_profile_edit.css' %}">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css'>

</head>

<body>


    <!--------------------------------------------------------------------------------------------------------------->


    <div class="all">
        <div class="container">

            <form name="form1" action="#">

                <div class="row im">
                    <div class="column2">
                        <img id="output_image" src="{% static 'img/download.png' %}">

                        <input type="file" id="actual-btn" hidden accept="image/*" onchange="preview_image(event)" required="">
                        <label for="actual-btn" class="actual-btn">Choose Image</label>
                    </div>
                </div>
                <div class="row">
                    <div class="column1">
                        <label for="fname">Name<abbr title="This field is mandatory"
                                aria-label="required">*</abbr></label>
                    </div>
                    <div class="column2">
                        <input type="text" id="pTitle" name="prodtitle" placeholder="user name.." required>
                    </div>
                </div>

                <div class="row">
                    <div class="column1">
                        <label for="email">Email <abbr title="This field is mandatory"
                                aria-label="required">*</abbr></label>
                    </div>
                    <div class="column2">
                        <input type="text" id="Uemail" name="userEmail" placeholder="user@gmail.com" required>
                    </div>
                </div>

                <div class="row">

                    <div class="btn">
                        <input type="submit" value="Edit Profile" onclick="ValidateEmail(document.form1.userEmail)">
                    </div>
                </div>
            </form>
        </div>




    </div>


    <!--------------------------------------------------------------------------------------------------------------->

    <script src="{% static 'js/email.js' %}"></script>

</body>

{% endblock %}

</html>