{% extends 'admins/admin_nav.html' %}

<!DOCTYPE html>
<html lang="en">
{% load static %} {% block content %}

<head>
    <title></title>
    <link rel="stylesheet" href="{% static 'css/admin_profile.css' %}">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css'>


</head>

<body>


    <div class="container">



        <div class="card color-card">

            <img src="{{request.user.userPhoto.url}}" alt="profile-pic" class="profile">
            <h1 class="admin-name">{{request.user.first_name}} {{ request.user.last_name}}</h1>
            <p class="admin-email"> {{request.user.email}}</p>


            <a href="admin_profile_edit.html">
                <button class="btn top"><a href="{% url 'editAdminProfile' %}">Edit Profile</a></button>
            </a>

        </div>

    </div>

</body>
{% endblock %}

</html>