body {
    background-color: whitesmoke;
}

input[type=text],
select,
textarea {
    width: 60%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 7px 12px 12px 0;
    margin-left: 105px;
    display: inline-block;
}

input[type=submit] {
    background-color: #3c162f;
    color: #fff;
    font-size: 17px;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #3c162f;
    opacity: .8;
}

.actual-btn {
    background-color: #3c162f;
    color: #fff;
    font-size: 17px;
    padding: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    margin-left: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 130px;

}

.actual-btn:hover {
    background-color: #3c162f;
    opacity: .8;
}

.container {
    border-radius: 5px;
    background-color: rgb(253, 175, 1, .6);
    padding: 20px;
    width: 850px;
    height: 860px;
    position: relative;
    left: 50%;
    top: 100px;
    margin: 0 0 15% -25%;
}

.column1 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.column2 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

form {
    margin-top: 50px;
}

h1 {
    margin-top: 15px;
    text-align: center;
}

.btn {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

#output_image {
    height: 150px;
    width: 150px;
}

abbr {
    color: rgb(210, 37, 37);
}