{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html>

<head>
    <title>Add Product</title>
    <link rel="stylesheet" href="{% static 'css/products/add_product.css' %}">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css'>
</head>

<body>
    
    <div class="all">
        <div class="container" style="height: 900px;">
            <h1>Product Information</h1>
            <form method="post" action="" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="column1">
                        <label for="fname">product title<abbr title="This field is mandatory"
                                aria-label="required">*</abbr></label>
                    </div>
                    <div class="column2">
                        <input type="text" id="pTitle" name="prodtitle" placeholder="product title.." required>
                    </div>
                </div>
                <div class="row">
                    <div class="column1">
                        <label for="pimg">product image <abbr title="This field is mandatory"
                                aria-label="required">*</abbr></label>
                    </div>
                    <div class="column2">
                        <img id="output_image">

                        <input type="file" id="actual-btn" hidden accept="image/*" onchange="preview_image(event)"
                            required="" name="upload">
                        <label for="actual-btn" class="actual-btn">Choose Image</label>



                    </div>
                </div>

                <div class="row">
                    <div class="column1">
                        <label for="Price">Price <abbr title="This field is mandatory"
                                aria-label="required">*</abbr></label>
                    </div>
                    <div class="column2">
                        <input type="text" id="pPrice" name="prodPrice" placeholder="199" required>
                    </div>
                </div>

                <div class="row">
                    <div class="column1">
                        <label for="Price">Price before discount<abbr title="This field is mandatory"
                                aria-label="required"></abbr></label>
                    </div>
                    <div class="column2">
                        <input type="text" id="pOldPrice" name="prodOldPrice" placeholder="199 (if there is a discount)">
                    </div>
                </div>

                <div class="row">
                    <div class="column1">
                        <label for="amount">Amount<abbr title="This field is mandatory"
                                aria-label="required">*</abbr></label>
                    </div>
                    <div class="column2">
                        <input type="text" id="pAmount" name="prodAmount" placeholder="amount of product" required>
                    </div>
                </div>
                <div class="row">
                    <div class="column1">
                        <label for="category">category<abbr title="This field is mandatory"
                                aria-label="required">*</abbr></label>
                    </div>
                    <div class="column2">
                        <select id="country" name="prodCategory" required>
                            <option value="">Select Category</option>
                            {% for category in categories %}
                            <option value="{{category.id}}">{{category}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="column1">
                        <label for="description">description</label>
                    </div>
                    <div class="column2">
                        <textarea id="des" name="des" placeholder="Write description.." style="height:200px"></textarea>
                    </div>
                </div>
                <div class="row">

                    <div class="btn">
                        <input type="submit" value="Add Request">
                    </div>
                </div>
            </form>
        </div>




    </div>


    
    <script src="{% static 'js/products/add_product.js' %}"></script>

</body>

</html>

{% endblock %}
