{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html>
    <head>
        <title>Electronics</title>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <link rel="stylesheet" href="{% static 'css/products/category_page.css' %}">
    </head>

    <body>
        <section class="product">
            <h2 class="pTitle">here should go the filters</h2>
            <!-- List of electronics products -->
            <section class="section-products">
                <div class="container">
                    <div class="row">
                        <!-- Single Product -->
                        <div class="col-md-6 col-lg-4 col-xl-3">
                            <div id="product-1" class="single-product">

                                <div class="part-1">
                                    <span class="new">new</span>
                                    <span class="discount">15% off</span>
                                    <img class="productImg" src=" https://img.ltwebstatic.com/images3_pi/2021/03/02/16146694366d5bba8666f3a707ef384013c8bbbdae_thumbnail_405x552.webp " class="product-thumb ">
                                    <button class="card-btn2 ">Details</button>
                                    <button class="card-btn ">add to whislist</button>


                                </div>
                                <div class="part-2 ">
                                    <h3 class="product-title ">Here Product Title</h3>
                                    <h4 class="product-old-price ">$79.99</h4>
                                    <h4 class="product-price ">$49.99</h4>
                                </div>
                            </div>
                        </div>
                        <!-- Single Product -->
                        <div class="col-md-6 col-lg-4 col-xl-3">
                            <div id="product-1" class="single-product">

                                <div class="part-1">
                                    <span class="new">new</span>
                                    <span class="discount">15% off</span>
                                    <img class="productImg" src=" https://img.ltwebstatic.com/images3_pi/2021/03/02/16146694366d5bba8666f3a707ef384013c8bbbdae_thumbnail_405x552.webp " class="product-thumb ">
                                    <button class="card-btn2 ">Details</button>
                                    <button class="card-btn ">add to whislist</button>
                                </div>
                                <div class="part-2 ">
                                    <h3 class="product-title ">Here Product Title</h3>
                                    <h4 class="product-old-price ">$79.99</h4>
                                    <h4 class="product-price ">$49.99</h4>
                                </div>
                            </div>
                        </div>
                        <!-- Single Product -->
                        <div class="col-md-6 col-lg-4 col-xl-3">
                            <div id="product-1" class="single-product">

                                <div class="part-1">
                                    <span class="new">new</span>
                                    <span class="discount">15% off</span>
                                    <img class="productImg" src=" https://img.ltwebstatic.com/images3_pi/2021/03/02/16146694366d5bba8666f3a707ef384013c8bbbdae_thumbnail_405x552.webp " class="product-thumb ">
                                    <button class="card-btn2 ">Details</button>
                                    <button class="card-btn ">add to whislist</button>


                                </div>
                                <div class="part-2 ">
                                    <h3 class="product-title ">Here Product Title</h3>
                                    <h4 class="product-old-price ">$79.99</h4>
                                    <h4 class="product-price ">$49.99</h4>
                                </div>
                            </div>
                        </div>
                        <!-- Single Product -->
                        <div class="col-md-6 col-lg-4 col-xl-3">
                            <div id="product-1" class="single-product">

                                <div class="part-1">
                                    <span class="new">new</span>
                                    <span class="discount">15% off</span>
                                    <img class="productImg" src=" https://img.ltwebstatic.com/images3_pi/2021/03/02/16146694366d5bba8666f3a707ef384013c8bbbdae_thumbnail_405x552.webp " class="product-thumb ">
                                    <button class="card-btn2 ">Details</button>
                                    <button class="card-btn ">add to whislist</button>


                                </div>
                                <div class="part-2 ">
                                    <h3 class="product-title ">Here Product Title</h3>
                                    <h4 class="product-old-price ">$79.99</h4>
                                    <h4 class="product-price ">$49.99</h4>
                                </div>
                            </div>
                        </div>
                        <!-- Single Product -->
                        <div class="col-md-6 col-lg-4 col-xl-3">
                            <div id="product-1" class="single-product">

                                <div class="part-1">
                                    <span class="new">new</span>
                                    <span class="discount">15% off</span>
                                    <img class="productImg" src=" https://img.ltwebstatic.com/images3_pi/2021/03/02/16146694366d5bba8666f3a707ef384013c8bbbdae_thumbnail_405x552.webp " class="product-thumb ">
                                    <button class="card-btn2 ">Details</button>
                                    <button class="card-btn ">add to whislist</button>


                                </div>
                                <div class="part-2 ">
                                    <h3 class="product-title ">Here Product Title</h3>
                                    <h4 class="product-old-price ">$79.99</h4>
                                    <h4 class="product-price ">$49.99</h4>
                                </div>
                            </div>
                        </div>
                        <!-- Single Product -->
                        <div class="col-md-6 col-lg-4 col-xl-3">
                            <div id="product-1" class="single-product">

                                <div class="part-1">
                                    <span class="new">new</span>
                                    <span class="discount">15% off</span>
                                    <img class="productImg" src=" https://img.ltwebstatic.com/images3_pi/2021/03/02/16146694366d5bba8666f3a707ef384013c8bbbdae_thumbnail_405x552.webp " class="product-thumb ">
                                    <button class="card-btn2 ">Details</button>
                                    <button class="card-btn ">add to whislist</button>


                                </div>
                                <div class="part-2 ">
                                    <h3 class="product-title ">Here Product Title</h3>
                                    <h4 class="product-old-price ">$79.99</h4>
                                    <h4 class="product-price ">$49.99</h4>
                                </div>
                            </div>
                        </div>
                        <!-- Single Product -->
                        <div class="col-md-6 col-lg-4 col-xl-3">
                            <div id="product-1" class="single-product">

                                <div class="part-1">
                                    <span class="new">new</span>
                                    <span class="discount">15% off</span>
                                    <img class="productImg" src=" https://img.ltwebstatic.com/images3_pi/2021/03/02/16146694366d5bba8666f3a707ef384013c8bbbdae_thumbnail_405x552.webp " class="product-thumb ">
                                    <button class="card-btn2 ">Details</button>
                                    <button class="card-btn ">add to whislist</button>


                                </div>
                                <div class="part-2 ">
                                    <h3 class="product-title ">Here Product Title</h3>
                                    <h4 class="product-old-price ">$79.99</h4>
                                    <h4 class="product-price ">$49.99</h4>
                                </div>
                            </div>
                        </div>
                        <!-- Single Product -->
                        <div class="col-md-6 col-lg-4 col-xl-3">
                            <div id="product-1" class="single-product">

                                <div class="part-1">
                                    <span class="new">new</span>
                                    <span class="discount">15% off</span>
                                    <img class="productImg" src=" https://img.ltwebstatic.com/images3_pi/2021/03/02/16146694366d5bba8666f3a707ef384013c8bbbdae_thumbnail_405x552.webp " class="product-thumb ">
                                    <button class="card-btn2 ">Details</button>
                                    <button class="card-btn ">add to whislist</button>


                                </div>
                                <div class="part-2 ">
                                    <h3 class="product-title ">Here Product Title</h3>
                                    <h4 class="product-old-price ">$79.99</h4>
                                    <h4 class="product-price ">$49.99</h4>
                                </div>
                            </div>
                        </div>


            </section>
        </section>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center" id="pagination">
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>

    <script src="js/home.js "></script>

    </body>
</html>

{% endblock %}