{% extends 'core/base.html' %} {% load static %} {% block content %}
<!DOCTYPE html>
<html>

<head>
    <title>Electronics</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/products/category_page.css' %}">
</head>

<body>
    <section class="product">
        <h2 class="pTitle">here should go the filters</h2>
        <!-- List of electronics products -->
        <section class="section-products">
            <div class="container">
                <div class="row">
                    {% for product in current_page.object_list %}
                    <!-- Single Product -->
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div id="product-1" class="single-product">

                            <div class="part-1">
                                <span class="new">new</span>
                                {% if product.discount > 0 %}
                                <span class="discount">- {{product.discount}}%</span>
                                {% endif %}
                                <img class="productImg" src=" {{ product.productImage.url }} " class="product-thumb ">
                                <a href="/products/get/{{product.id}}"><button class="card-btn2 ">Details</button></a>
                                <button class="card-btn ">add to whislist</button>
                            </div>
                            <div class="part-2 ">
                                <h3 class="product-title ">{{product.productName}}</h3>
                                {% if product.discount > 0 %}
                                <h4 class="product-old-price ">${{product.productOldPrice}}</h4>
                                {% endif %}
                                <h4 class="product-price ">${{product.productPrice}}</h4>
                            </div>
                        </div>
                    </div>
                    <!-------------------->
                    {% endfor %}
                </div>
            </div>
        </section>
    </section>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center" id="pagination">
            {% if current_page.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ current_page.previous_page_number }}" tabindex="-1">Previous</a>
            </li>
            {% endif %} {% for page in pages %} {% if page.number == current_page.number %}
            <li class="page-item">
                <a class="page-link active-pagination" href="?page={{ page.number }}">{{ page.number }}</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page.number }}">{{ page.number }}</a>
            </li>
            {% endif %} {% endfor %}
            <!-- <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li> -->

            {% if current_page.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ current_page.next_page_number }}">Next</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    <!-- isn't static tag should be written here  -->
    <script src="{% static 'js/core/home.js' %} "></script>

</body>

</html>

{% endblock %}