{% load static %}
<link rel="stylesheet" href="{% static 'css/core/nav.css' %}">
<link rel="stylesheet" href="{% static 'css/core/footer.css' %}">

<nav class="navbar">
    <div class="nav">
        <img src="/media/Market.png" alt="lolo" class="site-logo">
        <div class="nav-items">
            <div class="search">
                <input type="text" class="search-box" placeholder="search product">
                <button class="search-button">search</button>

            </div>
            <div class="sign">
                <button class="signs-btn"><a href="{% url 'signup' %}">sign up</a></button>
                <button class="signs-btn"><a href="{% url 'login' %}">sign in</a></button>
            </div>
            <div class="notification">
                <i class="fa fa-bell fa-2x"></i>
            </div>

        </div>


    </div>
    <ul class="links-container">
        <li class="link-item">
            <a href="index.html" class="link">home</a>
        </li>
        <li class="link-item"><a href="#" class="link">cloths</a></li>
        <li class="link-item"><a href="#" class="link">electronics</a></li>

    </ul>

</nav>

{% block content %}

{% endblock %}

<footer>
    <div class="footer">
        <img src="/media/Market.png" class="logo" alt="">
        <div class="footer-ul-container">
            <ul class="category">
                <li class="category-title">clothes</li>
                <li><a href="#" class="footer-link">dresses</a></li>
                <li><a href="#" class="footer-link">shirts</a></li>
                <li><a href="#" class="footer-link">jeans</a></li>
                <li><a href="#" class="footer-link">shoes</a></li>
                <li><a href="#" class="footer-link">watch</a></li>
            </ul>
            <ul class="category">
                <li class="category-title">electronics</li>
                <li><a href="#" class="footer-link">televisions</a></li>
                <li><a href="#" class="footer-link">computers</a></li>
                <li><a href="#" class="footer-link">headphones</a></li>
                <li><a href="#" class="footer-link">camera</a></li>
            </ul>
        </div>
        <div class="about">
            <p class="footer-title">about company</p>
            <p class="info">provide ay nininini which customer need :)</p>
            <p class="info">support email - customersupport@nininini.com</p>
            <p class="info">telephone - +2011345677</p>
        </div>
        <div class="footer-social-container">
            <a href="#" class="social-link">instagram</a>
            <a href="#" class="social-link">facebook</a>
            <a href="#" class="social-link">twitter</a>
        </div>
    </div>
</footer>
