<!DOCTYPE html>
<html>

<head>
    <title></title>
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/profile_user.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css'>


</head>

<body>
    <nav class="navbar">
        <div class="nav">
            <img src="img/logo.jpg" alt="lolo" class="site-logo">
            <div class="nav-items">
                <div class="search">
                    <input type="text" class="search-box" placeholder="search product">
                    <button class="search-button">search</button>

                </div>
                <div class="sign">
                    <button class="signs-btn"><a href="#">sign up</a></button>
                    <button class="signs-btn"><a href="#">sign in</a></button>
                </div>
                <div class="notification">
                    <i class="fa fa-bell fa-2x"></i>
                </div>

            </div>


        </div>
        <ul class="links-container">
            <li class="link-item"><a href="#" class="link">home</a></li>
            <li class="link-item"><a href="#" class="link">cloths</a></li>
            <li class="link-item"><a href="#" class="link">electronics</a></li>

        </ul>

    </nav>


    <!--------------------------------------------------------------------------------------------------------------->


    <div class="container">




        <div class="card color-card">

            <img src="https://images.unsplash.com/photo-1499557354967-2b2d8910bcca?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7d5363c18112a02ce22d0c46f8570147&auto=format&fit=crop&w=635&q=80%20635w"
                alt="profile-pic" class="profile">
            <h1 class="user-name">User Name</h1>
            <p class="user-email"> user@gmail.com</p>
            <div class="address top">
                <p>address: nininininii</p>
            </div>

            <a href="user_profile_edit.html">
                <button class="btn top">Edit Proile</button>
            </a>

            <hr>
            <div class="container">

                <h1 class="history">history of order</h1>

            </div>
        </div>

    </div>


    <!--------------------------------------------------------------------------------------------------------------->


    <footer>
        <div class="footer">
            <img src="img/logo.jpg" class="logo" alt="">
            <div class="footer-ul-container">
                <ul class="category">
                    <li class="category-title">clothes</li>
                    <li><a href="#" class="footer-link">dresses</a></li>
                    <li><a href="#" class="footer-link">shirts</a></li>
                    <li><a href="#" class="footer-link">jeans</a></li>
                    <li><a href="#" class="footer-link">shoes</a></li>
                    <li><a href="#" class="footer-link">watch</a></li>
                </ul>
                <ul class="category">
                    <li class="category-title">electronics</li>
                    <li><a href="#" class="footer-link">televisions</a></li>
                    <li><a href="#" class="footer-link">computers</a></li>
                    <li><a href="#" class="footer-link">headphones</a></li>
                    <li><a href="#" class="footer-link">camera</a></li>
                </ul>
            </div>
            <div class="about">
                <p class="footer-title">about company</p>
                <p class="info">provide ay nininini which customer need :)</p>
                <p class="info">support email - customersupport@nininini.com</p>
                <p class="info">telephone - +2011345677</p>
            </div>
            <div class="footer-social-container">
                <a href="#" class="social-link">instagram</a>
                <a href="#" class="social-link">facebook</a>
                <a href="#" class="social-link">twitter</a>
            </div>
        </div>
    </footer>



</body>

</html>