{% extends 'core/base.html' %} {% load static %} {% block content %}
<!DOCTYPE html>
<html>

<head>
    <title></title>
    <link rel="stylesheet" href="{% static 'css/core/profile_user.css' %}">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css'>


</head>

<body>



    <!--------------------------------------------------------------------------------------------------------------->


    <div class="container">




        <div class="card color-card">

            <img src="https://images.unsplash.com/photo-1499557354967-2b2d8910bcca?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7d5363c18112a02ce22d0c46f8570147&auto=format&fit=crop&w=635&q=80%20635w" alt="profile-pic" class="profile">
            <h1 class="user-name">User Name</h1>
            <p class="user-email"> user@gmail.com</p>
            <div class="address top">
                <p>address: nininininii</p>
            </div>

            <a href="user_profile_edit.html">
                <button class="btn top"><a href="{% url 'edit_profile' %}">Edit Profile</a></button>
            </a>

            <hr>
            <div class="container">

                <h1 class="history">history of order</h1>

            </div>
        </div>

    </div>


    <!--------------------------------------------------------------------------------------------------------------->



</body>

</html>
{% endblock %}