{% extends 'core/base.html' %}
<!DOCTYPE html>
<html>
  {% load static %} 
  {% block content %}
  <head>
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/core/home.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css"
    />
  </head>

  <body>
    <div class="all">
      <header class="homeheader">
        <div class="content">
          <img
            src="{% static 'images/core/logo.jpg' %}"
            class="homephoto"
            alt=""
          />
          <p class="sub-heading">best website zitaaa</p>
        </div>
      </header>

      <!---------------------------------------------------ELECTRONICS---------------------------------------------------------------->
      {% for category, products in categories.items %}
      <section class="product">
        <h2 class="product-category">{{category}}</h2>

        <button class="pre-btn">
          <img src="{% static 'images/core/arrow.png' %}" alt="" />
        </button>
        <button class="nxt-btn">
          <img src="{% static 'images/core/arrow.png' %}" alt="" />
        </button>
        
        <div class="product-container">
          {% for product in products %}
          <div class="product-card" style="height: 465px;">
            <div class="product-image">
              {% if product.discount > 0 %}
              <span class="discount-tag">{{product.discount}}% off</span>
              {% endif %}
              <a href="{% url 'products:getProduct' product.id %}">
                <img
                src="{{ product.productImage.url }}"
                class="product-thumb"
                alt="Product Picture"
                 />
              </a>
              <button class="card-btn">add to whislist</button>
            </div>
            <div class="product-info">
              <h4 class="product-type">{{product.productName}}</h2>
              <p class="product-about">{{product.productDiscription|slice:"0:25"}}...</p>
              {% if product.discount > 0 %}
              <span class="price">${{product.productOldPrice}}</span>
              {% endif %}
              <span class="actual-price">${{product.productPrice}}</span>
            </div>
          </div>
          {% endfor %}
        </div>
      </section>
      {% endfor %}
      
      <!------------------------------------------------------GENDER--------------------------------------------------------------------->
      <section class="product">
        <h2 class="product-category">More Categories</h2>

        <div class="product-container">
          {% for category in allCategories %}
          <div class="card">
            <a href="products/?category={{category.id}}">
              <button type="button" class="btn btn-secondary">{{category}}</button>
            </a>
          </div>
          {% endfor %}
        </div>
        <br>
      </section>
    </div>
    <script src="{% static 'js/core/home.js' %}"></script>
  </body>
  {% endblock %}
</html>

<!-- <div class="category-card">
  <div class="category-image">
    <a href="/products/">
      <img
        onmouseover="this.src='https://eg.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/24/098262/1.jpg?7471'"
        onmouseout="this.src='https://img.ltwebstatic.com/images3_pi/2022/03/17/164748373932d42c34e55ae7092d3bd3d7d76ea898_thumbnail_405x552.webp'"
        src="https://img.ltwebstatic.com/images3_pi/2022/02/28/1646033824c6c8c281c0d63270ec05e2a5793204a4_thumbnail_405x552.webp"
        class="product-thumb"
        alt=""
      />

      <p class="type-title">Clothes</p>
    </a>
  </div>
</div>

<div class="category-card">
  <div class="category-image">
    <a href="/products/">
      <img
        onmouseover="this.src='https://eg.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/78/630152/1.jpg?6731'"
        class="product-thumb'"
        onmouseout="this.src='https://eg.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/32/673122/1.jpg?7263'"
        src="https://eg.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/32/673122/1.jpg?7263"
        class="product-thumb"
        alt=""
      />

      <p class="type-title">Electronics</p>
    </a>
  </div> -->