{% extends 'core/base.html' %} {% load static %} {% block content %}
<!DOCTYPE html>

<html>

<head>
    <title>Shopping Cart</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/carts/shopping_cart.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/carts/favic.ico' %}">

</head>

<body onload="getTotal()">

    <div class="container">

        <section id="cart">
            {% for product in data %}
            <article class="product">
                <header>
                    <a class="remove" href="{% url 'removeFromCart' product.id %}">
                        <img src="{{product.productImage.url}}" alt="product preview">
                    </a>
                </header>

                <div class="content">
                    <div>
                        <button class="minus" id="{{product.id}}">-</button>
                        <span class="quantity" id="tItems{{product.id}}">1</span>
                        <button class="plus" id="{{product.id}}">+</button>
                        <h1>{{product.productName}}</h1>
                    </div>
                    <div>
                        <p>{{product.productDiscription}}</p>
                    </div>

                </div>

                <div class=" custom-footer-content custom-footer ">
                    <h2 class="full-price " id="pPrice{{product.id}}" hidden>{{product.productPrice}}</h2>
                    <h2 class="full-price " id="total{{product.id}}">{{product.productPrice}} $</h2>

                </div>
            </article>
            {% endfor %}

        </section>

    </div>

    <div id="site-footer " class="custom-footer ">

        <table>
            <tr>
                <th class="th_head">
                    Subtotal
                </th>
                <td class="td_data">
                    <span id="tPrice">0</span>
                </td>
            </tr>
            <tr>
                <th class="th_head">
                    Taxes (5%)
                </th>
                <td class="td_data">
                    <span id="tax">0</span>
                </td>
            </tr>
            <tr>
                <th class="th_head">
                    Shipping(8%)
                </th>
                <td class="td_data">
                    <span id="ship">0</span>
                </td>
            </tr>
            <tr>
                <th class="conclusion ">Total <span style="margin-left: 60px; "><span id="fPrice">0</span></th>
            </tr>
        </table>
        <a class="btn ">Checkout</a>
        <!--<div class="container clearfix ">
            <h2 class="subtotal " id="left ">Subtotal: <span id="right ">163.96</span>€</h2>
            <h3 class="tax " id="left ">Taxes (5%): <span  id="right ">8.2</span>€</h3>
            <h3 class="shipping " id="left ">Shipping: <span  id="right ">5.00</span>€</h3>
            <h1 class="total ">Total: <span>177.16</span>€</h1>
            <a class="btn ">Checkout</a>
    
        </div>-->
    </div>

    <script type="text/javascript ">
        function minus(event) {
            var target = event.target.id;
            console.log(target);
            var x = document.getElementById("tItems" + target);
            if (x.innerHTML > 1) {
                x.innerHTML = parseInt(x.innerHTML) - 1;
                var y = document.getElementById("pPrice" + target);
                var z = document.getElementById("total" + target);
                z.innerHTML = parseInt(y.innerHTML) * parseInt(x.innerHTML) + " $";
                getTotal()
            }
        }
        var elem = document.getElementsByClassName("minus")
        console.log(elem);
        for (z of elem) {
            z.addEventListener("click", minus);
        }

        function plus(event) {
            var target = event.target.id;
            console.log(target);
            var x = document.getElementById("tItems" + target);
            x.innerHTML = parseInt(x.innerHTML) + 1;
            var y = document.getElementById("pPrice" + target);
            var z = document.getElementById("total" + target);
            z.innerHTML = (parseInt(y.innerHTML) * parseInt(x.innerHTML)).toFixed(2) + " $";
            getTotal();
        }
        var elem = document.getElementsByClassName("plus")
        console.log(elem);
        for (z of elem) {
            z.addEventListener("click", plus);
        }

        function getTotal() {
            var total = 0;
            var elem = document.querySelectorAll(`[id^="total"]`);
            for (z of elem) {
                total += parseInt(z.innerHTML);
            }
            var t = document.getElementById("tPrice");
            t.innerHTML = total.toFixed(2) + " $";
            var tax = total * 0.05;
            var t = document.getElementById("tax");
            t.innerHTML = tax.toFixed(2) + " $";
            var ship = total * 0.08;
            var t = document.getElementById("ship");
            t.innerHTML = ship.toFixed(2) + " $";
            var f = document.getElementById("fPrice");
            f.innerHTML = (total + tax + ship).toFixed(2) + " $";
        }
    </script>

</body>

</html>
{% endblock %}