{% extends 'core/base.html' %} {% load static %} {% block content %}
<DocType!>
    <html>

    <head>
        <meta charset="utf-8">
        <meta lang="en">
        <title>Sign In</title>
        <meta name="description" content="Create a Profile at Amazone Website">
        <link rel="stylesheet" href="{% static 'css\sellers\business_signup.css'%}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />


    </head>

    <body>
        <div class="main">

            <div class="form_container" style="height: fit-content;">
                <div class="title_container">
                    <h2>Business SignUP</h2>
                </div>
                <form method="POST" enctype="multipart/form-data" class="registration-form" id="signup">
                    {% csrf_token %} {% if error %}
                    <small style="color:red;">{{error}}</small> {% endif %}

                    <div>
                        <label class="input_lables">Company Name</label>
                        <input type="text" name="company_name" placeholder="Company Name" required />
                        <p class="guides">Type your Company name here</p>
                    </div>

                    <div id="email">
                        <label class="input_lables">Email</label>
                        <input type="email" name="email" placeholder="CompanyName@gmail.com" required />
                        <p class="guides">Valid e-mail, example@gmail.com <sup>*</sup></p>
                    </div>

                    <div>
                        <label class="input_lables">Re-Confirm Email</label>
                        <input type="email" name="email" placeholder="CompanyName@gmail.com" required />
                        <p class="guides">Please, Refill your e-mail, example@gmail.com <sup>*</sup></p>
                    </div>

                    <div>
                        <label class="input_lables">Tax number</label>
                        <input type="text" name="Com-Num" placeholder="123-456-789" required />
                    </div>

                    <div>
                        <label class="input_lables margin_textarea">Company Discription</label>
                        <textarea placeholder="Modern Fernture Company Provides ..." name="company_description" maxlength="500" rows="7" cols="73"></textarea>
                        <!-- <input type="text" name="Company Discription" placeholder="Modern Fernture Company Provides ..." required /> -->
                    </div>



                    <div>
                        <label class="input_lables">Logo</label>
                        <div class="img_container">
                            <input type="file" , id="img_btn" name="fileName" hidden/>
                            <label type="submit" class="btn" for="img_btn"><i class="fa fa-plus"></i></label>
                        </div>
                    </div>
                    <br>
                    <div class="g-recaptcha brochure__form__captcha" data-sitekey="6LdhO_gfAAAAAHK4fNUnuX4rzMwryaP47AZWjATp"></div>

                    <a href="{% url 'home'%}">
                        <input class="button" type="submit" value="Register" />
                    </a>
                </form>
            </div>

            <p class="outside">Already have an account? <a href="{% url 'login'%}">login here</a></p>

        </div>

        <script src="https://www.google.com/recaptcha/api.js"></script>
        <script src="{% static 'js/core/validate_signup.js' %}"></script>
    </body>

    </html>

    {% endblock %}