{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta lang="en">
        <title>Sign In</title>
        <meta name="description" content="Create a Profile at Amazone Website">
        <link rel="stylesheet" href="{% static 'css\users\user_signup_form.css' %}">
        

    </head>
    <body>
      <div class="main">
        <h2 style="margin: auto;">Seller Home Page</h2>
    </body>
</html>

{% endblock %}